<app-nav-bar></app-nav-bar>
<div class="container-fluid">
<h1 class="titulo">Linhas de ônibus</h1>
<div class="row">
    <div class="col-md-8 dados">
        <div class="table-responsive">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Código</th>
                        <th>Nome</th>
                        <th><input type="text" class="form-control mr-sm-2" placeholder="Pesquisar" aria-label="Search" name="search" [(ngModel)]="search" /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let linha of linhasOnibus | paginate: { id: 'listing_pagination',
                        itemsPerPage: 9,
                        currentPage: page,
                        totalItems: totalRecords} | search:search">
                        <td>{{linha.id}}</td>
                        <td>{{linha.codigo}}</td>
                        <td>{{linha.nome}}</td>
                        <td><button class="btn btn-primary" (click)="viewItinerario(linha.id)">Itinerário</button></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <app-itinerario *ngIf="action === 'view'" [linhaOnibus]="selectedOnibus" (newItinerarioEscolhidoEvent)="refreshData()"></app-itinerario>
    </div>
</div>
</div>