<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row homeMain">
    <div class="col-md-5">
      <div>
        <h2 class="titulo">Bem vindo ao Consulta Line!</h2>
        <h6>Escolha a sua consulta:</h6>
        <div class="row buttonsHome">
          <button type="button" class="btn btn-success" (click)="goToConsultaOnibus()">ônibus</button>
          <button type="button" class="btn btn2 btn-success" (click)="goToConsultaLotacao()">Lotação</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <img class="imagemHome" [src]=imageMap>
    </div>
  </div>
</div>